{% extends "base.html" %}
{% block Body %}
	<from method="GET">
		{{ arama_formu.aranacak_kelime.errors }}
		{{ arama_formu.aranacak_kelime.label }}
		{{ arama_formu.aranacak_kelime }}
		<input type="submit" value="Bul">
	</form>

	{% if aranacak_kelime %}
		<h3>Aradığınız "{{aranacak_kelime}}" için bulunan sonuçlar:</h3>
		<div class="row" >
		 <div class="col-lg-12">
		  <table class="table table-striped">
		    <thead>
		      <tr>
		        <th width="125">Posted Date {{request.user}}</th>
		        <th width="400">Position</th>
		        <th>Company</th>
		        <th>City</th>
		        <th>Sector</th>
		      </tr>
		    </thead>
		    {% for ad in ads %}
		      <tbody>
		        <tr>
		          <td>{{ ad.date }}</td>
		          <td>{{ ad.position }}</td>
		          <td>{{ ad.company }}</td>
		          <td>{{ ad.address }}</td>
		          <td>{{ ad.sector }}</td>
		        </tr>
		      </tbody>
		    {% endfor %}
		    </table>
		  </div>
		</div>
	{% endif %}
{% endblock %}